

.spinner-container {
   width:100%;
   display: flex;
   justify-content: center;
   padding: 200px;

   @media all and (max-width: 769px){
		padding: 200px 0px 200px 0px;
   }
}

.spinner {
   width: 56px;
   height: 56px;
   display: grid;
   animation: spinner-plncf9 4s infinite;
}

.spinner::before,
.spinner::after {
   content: "";
   grid-area: 1/1;
   border: 9px solid;
   border-radius: 50%;
   border-color: #ff6060 #ff6060 #0000 #0000;
   mix-blend-mode: darken;
   animation: spinner-plncf9 1s infinite linear;
}

.spinner::after {
   border-color: #0000 #0000 #f7f7f7 #f7f7f7;
   animation-direction: reverse;
}

@keyframes spinner-plncf9 {
   100% {
      transform: rotate(1turn);
   }
}

