.rate {
    display: flex;
    justify-content: space-between;
    
    width: 196px;
    height: 36px;
    margin-top: 24px;

    @media all and (max-width: 769px) {
        width: 98px;
        height: 18px;
    }
}

.star {
    width: 30px;
    height: 30px;

    @media all and (max-width: 769px) {
        width: 15px;
        height: 15px;
    }
}