.container {
    width:calc(100% - 200px);
    max-width: 100%;
    margin:0 auto;

    @media all and (max-width: 769px) {
        max-width: calc(100% - 40px) 
    }
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;

    width: 100%;
    gap: 50px;
    padding: 5% 1%;

    border-radius: 25px;
    margin: 43px 0;
    background-color: #f7f7f7;

    @media all and (max-width: 769px) {
        gap: 20px;
        border-radius: 10px;
        margin: 22px 0px;
        background-color: white;
    }
}